.lane_0 .stage_F { /* レーン名 + ステージ名の設定が最優先 */
    background-color: #b9a5e8; /* グラデーションはKonata側の魔法により実現されているのでベース色を指定する */
}
.lane_0 .stage_Rn {
    background-color: #a0c0ff;
}
.lane_0 .stage_D {
    background-color: #8cdddf;
}
.lane_0 .stage_Sr {
    background-color: #9bed88;
}
.lane_0 .stage_Sw {
    background-color: #83d2ab;
}
.lane_0 .stage_rs {
    background-color: #73d29b;
}

.lane_0 .stage_Wku {
    background-color: #abed88;
}
.lane_0 .stage_Slc {
    background-color: #e6d990;
}
.lane_0 .stage_rsc {
    background-color: #83e2ab;
}

.lane_0 .stage_Ip {
    background-color: #eebb77;
}
.lane_0 .stage_I {
    background-color: #eeaa88;
}
.lane_0 .stage_X {
    background-color: #ee7777;
}
.lane_0 .stage_Xam {
    background-color: #ee7777;
}
.lane_0 .stage_Xbm {
    background-color: #ee7777;
}
.lane_0 .stage_Xlu {
    background-color: #ee7777;
}
.lane_0 .stage_Xlm {
    background-color: #aa6666;
}

.lane_0 .stage_Wb {
    background-color: #dd8899;
}
.stage_Cm {
    background-color: #cca5c8;
}

.stage_f { /* ステージ名だけでも指定可能 */
    background-color: #888888;
}

.stage_f { /* 同じセレクタなら後ろのほうが優先される */
    background-color: #aaaaaa;
}

.stage_stl {
    background-color: #aaaaaa;
}

.stage_iXlR0 {
    background-color: #ee7777;
}
.stage_iXlR1 {
    background-color: #ee7777;
}
.stage_iXlR2 {
    background-color: #ee7777;
}


.lane_0 { /* レーン名 + ステージ名，ステージ名だけより優先度は低いが，レーン名だけで指定も可能 */
    background-color: #aaffaa;
    font-style: italic;
}

.lane_2 {
    background-color: #ffffaa;
    font-style: italic;
}

.default { /* どこにもヒットしない場合，.default設定を利用する （ここでも設定しないとKonata内標準の値を利用）*/
    background-color: #aaffaa;
    font-size:12px;
    font-family: Arial; /* 一般的に保険のためにやるカンマ区切りの複数指定はできない． */
    font-style: normal;
}

.flush {
    opacity: 0.5;
    background-color:#888;
}

/* 少し凝ったCSSはパースできない（上手くパースできないサンプル集） */
.lane_2 [class*="stage_iX"] { /* 属性検索系は全くできない */
    background-color: #ff7744;
}

.stage_aaa, .stage_bbb { /* aaaはパースされるがbbbはパースされない */
    background-color: #ff7744;
}

.lane_0 .stage_smpl{
    background-color: #000 !important; /* importantに意味はない */
}

.lane_2 {
    font-size:12pt; /* font-sizeの単位はpxであるとして扱われる */
}
