/* table に関する設定．基本的に固定．． */
.tab {
    display: table;
}
/* div要素同士は縦に並べたいので table-row */
.lanesParent, .lane {
    display:table-row;
}
/* span要素同士は横に並べたいので table-cell */
.labels-window, .pipelines-window, .spacer, .block, .stage {
    display: table-cell;
    table-layout: fixed;
}

/* 表示窓の設定．ラベル欄の大きさなどを変えたいときに変更 */
.labels-window, .pipelines-window {
    /* 枠線の設定．お好みにどうぞ． */
    border: 1px solid #666666;
    color: #000000;
    /* テーブル内で横スクロールを可能にするための設定．さわらない */
    position:absolute;
    overflow-x: scroll;
    table-layout: fixed;
    white-space: nowrap;

    height:90%;
}
.labels-window {
    width: 150px; /* ラベル窓の幅を変えるならここ */
    left:5px;
}
.pipelines-window {
    width:65%;
    left:155px; /* labels-window の width + left 以上に設定 */
}
/* 行の高さ．内容によって変化することを防ぐため，minとmaxを同時に設定する． */
.labels-parent, .pipeline {
    min-height: 48px;
    max-height: 48px;
}
/* レーンの高さ．（行の高さ/レーン数によって動的に計算）*/
.lane {
    min-height: 24px;
    max-height: 24px;
}

.label {
    table-layout: fixed;
}
.label.type_1 {
    display: none;
}
.stage {
    border: 1px solid #666666;
    box-sizing:border-box;
    background-color: #777777;
    min-height: 24px;
    max-height: 24px;
    min-width: 36px;
    table-layout: fixed;
    overflow: hidden;
}

div.lane.0 {
    color:#000000;
}

span.stage {
}

div.lane_0 span.stage_F {
    background-color: #ff8888;
}

div.lane_0 span.stage_Rn {
    background-color: #88ff88;
}

div.lane_1 span.stage_iX {
    background-color: #447744;
}