/* table に関する設定．基本的に固定．． */
.tab {
    display: table;
}

/* div要素同士は縦に並べたいので table-row */
.lanesParent, .lane {
    display:table-row;
}
/* span要素同士は横に並べたいので table-cell */
.labels-window, .window-sizing, .pipelines-window, .spacer, .block {
    display: table-cell;
    table-layout: fixed;
}

.tileY {
    margin: 0;
    padding: 0;
    max-height: 300px;
}

/* 表示窓の設定．ラベル欄の大きさなどを変えたいときに変更 */
.labels-window, .pipelines-window, .window-sizing {
    /* 枠線の設定．お好みにどうぞ． */
    border: 1px solid #666666;
    box-sizing:border-box;
    color: #000000;
    /* テーブル内で横スクロールを可能にするための設定．さわらない */
    position:absolute;
    overflow: hidden;
    table-layout: fixed;
    white-space: nowrap;

    height:95%;
}
.labels-window {
    width:150px; /* ラベル窓の幅を変えるならここ */
    left:5px;
}
.window-sizing {
    width:2px;
    min-width: 2px;
    max-width: 2px;
    left:155px;
    background-color: #000;
    cursor: col-resize;
}
.pipelines-window {
    left:157px; /* labels-window の width + left 以上に設定 */
    background-color: #aaffaa;
}

.label {
    table-layout: fixed;
}
.label.type_1 {
    display: none;
}
