html, body {
  width: 100%;      /* ウィンドウ全体に*/
  height: 100%;
  margin: 0;        /* すきまなく */
  overflow: hidden; /* はみ出た部分は表示されない */
}

.pane_container {
    display: flex;  /* CSS3 flexbox による配置を有効に */
    flex-direction: row;  /* 子要素を横方向に並べる*/  
    flex: auto;
    /* pane_container 同士を同じ位置において z-index を制御するため，位置を絶対指定に．
    abosulute を指定すると，親要素の左上を基準とした位置に配置される
    */
    position: absolute; 
}

/* 左側のラベルペーン */
.label_pane {
    width:150px;    /* 初期幅は150*/
    background-color: #eee; /* ラベル部分は少し暗く */
}

/* ラベルとパイプラインの間のスプリッタ */
.window_splitter {
    width: 10px;
    min-width: 10px;
    max-width: 10px;

    border-right: 1px solid grey;
    background-color: #eee; /* ラベル部分と一体化させる */
    cursor: col-resize;
}

/* パイプライン表示のペーン */
.pipeline_pane {
    background-color: #fff;
}


