body {
    background-color: #525c7d;
}


/* ラベルとパイプラインの間のスプリッタ */
.window_splitter {
    border-right: 1px solid #ccc;
    background-color: #f4f4f4; /* ラベル部分と一体化させる */
}

/* ラベルのツールチップ */
.tool_tip {
    color: #fff;
    background: rgba(51, 51, 51, 0.9);
}

/* 検索結果のツールチップ */
.find_result_tip {
    color: #fff;
    background: rgba(51, 51, 51, 0.9);
}

/* コマンドパレット */
.command_palette {
    background: rgb(243, 243, 243);
    box-shadow: rgb(168, 168, 168) 0px 5px 8px;
}

/*
.command_palette_input {
}
*/

.command_palette_hint_item_command {
    border: 1px solid #999;
    background: #eee;
}

/* アクティブなタブのプログレスバー */
.progress_bar_active {
    background: hsl(220, 100%, 65%);
}
.progress_bar_active.load {
    background: hsl(220, 100%, 65%);
}
.progress_bar_active.search {
    background: hsl(150, 30%, 50%);
}
.progress_bar_active.stats {
    background: hsl(20, 50%, 65%);
}

/* バックグラウンドでファイルを読んでるタブのプログレスバー */
.progress_bar_background {
    background: rgb(180, 180, 180);
}

/* bootstrap */

/* タブの下にある境界線 */
.nav-tabs {
    border-bottom-color: #464e6a;
    border-bottom-width: 1px;
}

/* アクティブじゃないタブ */
.nav-tabs .nav-link {
    color: #aaaaaa;
    background-color: #525c7d;
    border-color: #464e6a;
    border-bottom-color: #464e6a;
    border-bottom-width: 1px;
}

/* アクティブじゃないタブのホバー */
.nav-tabs .nav-link:hover {
    color: #ffffff;
    border-color: #464e6a;
    background-color: #363e5a;
}

/* 閉じるのマーク */
.close {
    text-shadow: none;
    color: #525c7d;
    opacity: 1.0;
}

/* 閉じるのマークホバー 優先度を上げるために not がついてる */
.close:not(:disabled):not(:disabled):hover {
    color: #ffffff;
    opacity: 1.0;
}

/* アクティブなタブ */
.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #464e6a;
    border-color: #464e6a;
    /*
    border-bottom-color: #222222;
    border-bottom-width: 2px;
    */
}

.close.active  {
    color: #ffffff;
    opacity: 1.0;
}

.close.active:not(:disabled):hover {
    color: #ffffff;
    opacity: 1.0;
}
