html, body {
    background: #ffffff;
}

/* ラベルとパイプラインの間のスプリッタ */
.window_splitter {
    border-right: 1px solid #ccc;
    background-color: #f4f4f4; /* ラベル部分と一体化させる */
}

/* ラベルのツールチップ */
.tool_tip {
    color: #fff;
    background: rgba(51, 51, 51, 0.9);
}

/* 検索結果のツールチップ */
.find_result_tip {
    color: #fff;
    background: rgba(51, 51, 51, 0.9);
}

/* コマンドパレット */
.command_pallete {
    background: rgb(243, 243, 243);
    box-shadow: rgb(168, 168, 168) 0px 5px 8px;
}

/*
.command_pallete_input {
}
*/

.command_pallete_hint_item_command {
    border: 1px solid #999;
    background: #eee;
}

/* アクティブなタブのプログレスバー */
.progress_bar_active {
    background: rgb(100, 150, 255);
}

/* バックグラウンドでファイルを読んでるタブのプログレスバー */
.progress_bar_background {
    background: rgb(180, 180, 180);
}

