body {
    background-color: #262930;
}

/* ラベルとパイプラインの間のスプリッタ */
.window_splitter {
    border-right: 1px solid #303340;
    background-color: #303340; /* ラベル部分と一体化させる */
}

/* ラベルのツールチップ */
.tool_tip {
    color: #eee;
    background: rgba(51, 51, 51, 0.9);
}

/* 検索結果のツールチップ */
.find_result_tip {
    color: #eee;
    background: rgba(51, 51, 51, 0.9);
}

/* コマンドパレット */
.command_pallete {
    color: #eee;
    background: rgb(38, 41, 44);
    box-shadow: rgb(0, 0, 0) 0px 2px 4px;
}

.command_pallete_input {
    color: #eee;
    background: rgb(38, 41, 44);
    border: 0px;
}

.command_pallete_hint_item_command {
    border: 1px solid #333;
    background: #555;
}

/* アクティブなタブのプログレスバー */
.progress_bar_active {
    background: rgb(100, 150, 255);
}

/* バックグラウンドでファイルを読んでるタブのプログレスバー */
.progress_bar_background {
    background: rgb(180, 180, 180);
}

