html, body {
    width: 100%;      /* ウィンドウ全体に*/
    height: 100%;
    margin: 0;        /* すきまなく */
    overflow: hidden; /* はみ出た部分は表示されない */
}

/* ラベルとパイプラインの間のスプリッタ */
.window_splitter {
    width: 10px;
    min-width: 10px;
    max-width: 10px;
    cursor: col-resize;
}

/* ラベルのツールチップ */
.tool_tip {
    padding: 10px;
    border-radius: 4px;
    font-size: "12px";
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border: 0px;
    /*
    box-shadow: 0px 0px 6px 3px rgb(51, 51, 51);
    */
}

/* 検索結果のツールチップ */
.find_result_tip {
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border: 0px;
    /*
    box-shadow: 0px 0px 6px 3px rgb(51, 51, 51);
    */
    white-space: nowrap;    /* 改行禁止 */
}

.find_result_tip_content {
    background-color: rgba(0,0,0,0);
}

.find_result_tip_close {
    background-color: rgba(0,0,0,0);
    color: white;
    border: 0px;
    font-size: 20px;

    cursor: pointer;

    vertical-align: top;
    margin-left: 10px;
    margin-top: -12px;
    margin-right: -8px;
}

/* コマンドパレット */
.command_pallete {
    padding: 5px;
    width: 300px; 

    /*line-height: 1.4em;*/
    font-size: 12px;

    /* absolute 配置 かつleft/top を 非 auto にして margin を auto にすると中央配置になる */
    margin: 0 auto;
    left: 0;
    right: 0;

    /* 初期は非表示 */
    visibility: hidden;

    /* 絶対位置 */
    position: absolute;
    z-index: 100;
    
}

.command_pallete_input {
    width: 100%;
    margin-bottom: 6px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.command_pallete_hint_item {
    margin-bottom: 7px;
    margin-top: 7px;
}

.command_pallete_hint_item_text {
    padding-bottom: 3px;
    padding-top: 3px;
    float: left;
}

.command_pallete_hint_item_command {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-radius: 4px;/*角の丸み*/
    padding-left: 4px;
    padding-right: 4px;
    float: right;
}

/* プログレスバーのコンテナ */
.progress_bar_container {
    width: 100%;

    /* 絶対位置にして，オーバーレイする */
    position: absolute;
    z-index: 100;
}

/* アクティブなタブのプログレスバー */
.progress_bar_active {
    width: 0%;
    height: 3px;
    transition: width 50ms linear;  /* アニメーション */
}

/* バックグラウンドでファイルを読んでるタブのプログレスバー */
.progress_bar_background {
    width: 0%;
    height: 3px;
    transition: width 50ms linear;  /* アニメーション */
}

